%btn-placeholder {
  font-size: $default-font-size;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  margin-top: 3rem;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
}
