.composition {
  position: relative;
  &__image {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: 0.3s all;
    outline-offset: 2rem;

    &--1 {
      top: 0;
      top: -2rem;
    }

    &--2 {
      right: 0;
      top: 2rem;
    }

    &--3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      outline: 1.5rem solid rgba($color-black, 0.1);
      transform: scale(1.1) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }

  &:hover &__image:not(:hover) {
    transform: scale(0.9);
  }
}
